.container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 0 10px;
}

#break-label, #session-label {
    display: flex;
    justify-content: center;
}

#break-length, #session-length {
    display: flex;
    justify-content: center;
    width: 40px;
}

.plus-minus-buttons {
    /* height: 40px; */
}

#session-label, #break-label {
    grid-column: 1 / 4;
}